body,
html {
  margin: 0 0;
  max-width: 100vw;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.stop-scroll {
  overflow-y: hidden;
}

body .modal-shadow {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  left: 0;
  z-index: 3;
}

body .main-wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .side-menu-wrapper {
  width: calc(max(150px, 15vw));
  min-height: 100%;
  position: absolute;
  left: 0;
  z-index: 4;
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: width 300ms;
  transition: width 300ms;
}

body .main-wrapper .side-menu-wrapper.collapse {
  width: 0;
}

body .main-wrapper .side-menu-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .side-menu-wrapper nav a {
  border-bottom: 1px solid lightgrey;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  color: black;
  padding: 12.5px 10px;
  font-size: 1.2rem;
}

body .main-wrapper .side-menu-wrapper nav p {
  border-bottom: 1px solid lightgrey;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  color: black;
  padding: 12.5px 10px;
  margin: 0 0;
  font-size: 1.2rem;
  font-family: sans-serif;
}

body .main-wrapper .side-menu-wrapper nav button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: black;
  padding: 12.5px 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1.2rem;
  text-align: justify;
  background-color: white;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .side-menu-wrapper {
    display: none;
  }
}

body .main-wrapper .header-wrapper {
  min-height: 15vh;
  width: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body .main-wrapper .header-wrapper .header-text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-wrapper .header-wrapper .header-text-wrapper .header-text {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .main-wrapper .header-wrapper .header-text-wrapper .header-text h1 {
  font-size: calc(max(2.5vw, 2rem));
  margin: 15px 0;
}

body .main-wrapper .header-wrapper .side-menu-expand-button-wrapper {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-wrapper .header-wrapper .side-menu-expand-button-wrapper .side-menu-expand-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 80px;
  width: 80px;
  background-color: white;
  border: none;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .header-wrapper .side-menu-expand-button-wrapper {
    display: none;
  }
}

body .main-wrapper .header-wrapper .header-menu-wrapper {
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: whitesmoke;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .header-wrapper .header-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .header-wrapper .header-menu-wrapper {
    display: none;
  }
}

body .main-wrapper .header-wrapper .header-menu-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-wrapper .header-wrapper .header-menu-wrapper nav a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  font-size: 1.2rem;
}

body .main-wrapper .header-wrapper .header-menu-wrapper nav p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  margin: 0 0;
  font-size: 1.2rem;
  font-family: sans-serif;
}

body .main-wrapper .header-wrapper .header-menu-wrapper nav button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: black;
  padding: 10px 15px;
  border: none;
  font-size: 1.2rem;
  background-color: whitesmoke;
}

body .main-wrapper .content-wrapper {
  min-height: 75vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

body .main-wrapper .content-wrapper .main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-wrapper .content-wrapper .main-article .content-box {
  position: relative;
  width: calc(min(1100px, 100%));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 15px 0;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-text h1 {
  font-size: 1.75rem;
  text-align: center;
  margin: 10px 0;
}

@media only screen and (min-width: 500px) {
  body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 500px) {
  body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button {
  background-color: white;
  width: calc(max(50px, 3.75vw));
  height: calc(max(50px, 3.75vw));
  border: none;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button .icon-button-rotate-click {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button .icon-button-rotate-back {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button i {
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-body p {
  font-size: 1.2rem;
  text-align: justify;
  margin: 15px;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper {
  padding: 0 10px;
  display: hidden;
  position: absolute;
  overflow: hidden;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: max-height 200ms;
  transition: max-height 200ms;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper .content-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid lightgrey;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper .content-submenu a {
  padding: 5px 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-align: justify;
  text-decoration: none;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper .content-submenu button {
  padding: 5px 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-expand {
  max-height: 200px;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-close {
  max-height: 0px;
}

body .main-wrapper .content-wrapper .article-content-wrapper {
  min-height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box {
  height: 100%;
  width: calc(min(1100px, 100%));
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset {
  padding: 0 10px;
  height: 100%;
  border: none;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text {
  margin: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text label {
  margin: 10px 0;
  font-size: 1.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text input[type=text] {
  padding: 5px 10px;
  height: 5vh;
  font-size: 1.2rem;
  background-color: #fafafa;
  border: none;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text textarea {
  padding: 5px 10px;
  height: 45vh;
  resize: none;
  font-size: 1.2rem;
  background-color: #fafafa;
  border: none;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button button {
  font-size: 1.2rem;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button button {
    width: calc(max(300px, 15vw));
    height: 80px;
  }
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button button {
    width: 100%;
    height: 60px;
  }
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button :nth-child(1) {
  background-color: lightgreen;
  border: none;
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button :nth-child(1) {
    margin-bottom: 10px;
  }
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button :nth-child(2) {
  background-color: lightcoral;
  border: none;
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button :nth-child(2) {
    margin-top: 10px;
  }
}

body .main-wrapper .content-wrapper .login-menu-wrapper {
  height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu {
  margin: 20px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(min(1100px, 100%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: max-height 200ms;
  transition: max-height 200ms;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-text-wrapper {
  margin: 10px 0;
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: lightgrey 1px solid;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-text-wrapper h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset {
  border: none;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-text {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-text label {
  margin-bottom: 5px;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-text input {
  padding: 5px 10px;
  height: 5vh;
  font-size: 1.2rem;
  background-color: #fafafa;
  border: none;
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button button {
  font-size: 1.2rem;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button button {
    width: calc(max(300px, 15vw));
    height: 80px;
  }
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button button {
    width: 100%;
    height: 60px;
  }
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button :nth-child(1) {
  background-color: lightgreen;
  border: none;
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button :nth-child(1) {
    margin-bottom: 10px;
  }
}

body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button :nth-child(2) {
  background-color: lightcoral;
  border: none;
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .content-wrapper .login-menu-wrapper .login-menu .login-form-wrapper .login-form fieldset .login-form-group-button :nth-child(2) {
    margin-top: 10px;
  }
}

body .main-wrapper .footer-wrapper {
  min-height: 10vh;
  width: 100%;
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-wrapper .footer-wrapper h1 {
  font-size: calc(max(2.5vw, 2rem));
}

.hide {
  display: none;
}
/*# sourceMappingURL=simple.css.map */