body,
html {
  margin: 0 0;
  max-width: 100vw;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .main-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .header-wrapper {
  min-height: 15vh;
  width: 100%;
  background-color: lightsteelblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .header-wrapper .header-text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-wrapper .header-wrapper .header-text-wrapper .header-text {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .main-wrapper .header-wrapper .header-text-wrapper .header-text h1 {
  font-size: calc(max(3vw, 2.9rem));
  margin: 15px 0;
}

body .main-wrapper .header-wrapper .header-menu-wrapper {
  padding: 10px 0;
  background-color: lightblue;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media only screen and (min-width: 700px) {
  body .main-wrapper .header-wrapper .header-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 700px) {
  body .main-wrapper .header-wrapper .header-menu-wrapper {
    display: none;
  }
}

body .main-wrapper .header-wrapper .header-menu-wrapper nav a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-size: 1.2rem;
}

body .main-wrapper .header-wrapper .header-menu-wrapper .nav-mobile-opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .content-wrapper {
  min-height: 75vh;
  width: 100%;
}

body .main-wrapper .content-wrapper .main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-wrapper .content-wrapper .main-article .content-box {
  position: relative;
  width: calc(min(1100px, 100%));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 15px 0;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-text h1 {
  font-size: calc(max(2vw, 1.75rem));
  text-align: center;
  margin: 10px 0;
}

@media only screen and (min-width: 500px) {
  body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 500px) {
  body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button {
  background-color: white;
  width: calc(max(50px, 3.75vw));
  height: calc(max(50px, 3.75vw));
  border: none;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button .icon-button-rotate-click {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button .icon-button-rotate-back {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .main-wrapper .content-wrapper .main-article .content-box .content-header .content-header-button button i {
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-body p {
  font-size: calc(max(1vw, 1.1rem));
  text-align: justify;
  margin: 15px;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper {
  padding: 0 10px;
  display: hidden;
  position: absolute;
  overflow: hidden;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: max-height 200ms;
  transition: max-height 200ms;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper .content-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid lightgrey;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper .content-submenu button {
  padding: 5px 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border: none;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-wrapper .content-submenu button p {
  font-size: calc(max(1vw, 1.1rem));
  text-align: justify;
  margin: 0 5px;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-expand {
  max-height: 200px;
}

body .main-wrapper .content-wrapper .main-article .content-box .content-submenu-close {
  max-height: 0px;
}

body .main-wrapper .content-wrapper .article-content-wrapper {
  min-height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box {
  height: 100%;
  width: calc(min(1100px, 100%));
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset {
  padding: 0 10px;
  height: 100%;
  border: none;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text label {
  margin: 10px 0;
  display: block;
  font-size: calc(max(1.75vw, 1.75rem));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text input[type=text] {
  width: calc(min(1100px, 100%));
  height: 5vh;
  font-size: calc(max(1vw, 1.1rem));
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-text textarea {
  width: calc(min(1100px, 100%));
  height: 45vh;
  resize: none;
  font-size: calc(max(1vw, 1.1rem));
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button button {
  width: calc(max(200px, 15vw));
  height: 5vh;
  font-size: calc(max(1vw, 1.1rem));
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button :nth-child(1) {
  background-color: lightgreen;
  border: none;
}

body .main-wrapper .content-wrapper .article-content-wrapper .article-content-box .article-content-form fieldset .article-content-group-button :nth-child(2) {
  background-color: lightcoral;
  border: none;
}

body .main-wrapper .footer-wrapper {
  min-height: 10vh;
  width: 100%;
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=simple.css.map */