<div class="about-us-wrapper">
    <div class="about-us">
        <div class="about-us-header">
            <h1>About Us</h1>
        </div>
        <div class="about-us-text">
            <pre>This website is made as portofolio. Here user can upload, read, edit or delete article. Anyone can read any article but only the creator can delete or edit their own article. The user can also leave comment on all article but they need to log in first to do so. Only original commenter can edit or delete their comment. As of now, the article will only accept text and can't store image.</pre>
        </div>
    </div>
</div>