<div class="article-content-wrapper article-content-wrapper-hide" id = "article-editor-wrapper">
    <div class="article-content-box">
        <form class="article-content-form">
            <fieldset>
                <input type="hidden" id="article-id">
                <div class = "article-content-group-text">
                    <label for="article-title-text">Title</label>
                    <input type="text" name="article-title-text" id="article-title" placeholder="Write your article title here..." required="true"> 
                </div>
                <div class = "article-content-group-text">
                    <label for="article-content-text">Content</label>
                    <textarea name="article-content-text" id="article-content" placeholder="Write your article content here..." required="true"></textarea>
                </div>
                <div class="article-content-group-button">
                    <button id = "submit-article" type="button">Submit</button>
                    <button id = "clear-article" type="button">Clear</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>