<div class="article-content-wrapper" id = "article-read-wrapper">
    <div class="article-content-box">
        <div class = "article-read-box">
            <h1 class = "article-title" id="article-title"></h1>
            <pre class = "article-text" id="article-text"> <!-- Change p to pre later and add white-spare to the css -->
            </pre>
        </div>
    </div>
</div>
<div class="article-comment-wrapper" id="article-comment-wrapper">
    <div class="article-comment-area" id="article-comment-area">
        
    </div>
</div>