<div class="article-content-wrapper" id = "article-read-wrapper">
    <div class="article-content-box">
        <div class = "article-read-box">
            <h1 class = "article-title" id="article-title"></h1>
            <pre class = "article-text" id="article-text"> <!-- Change p to pre later and add white-spare to the css -->
            </pre>
        </div>
    </div>
</div>
<input type="hidden" id="read-article-id">
<div class="article-comment-wrapper" id="article-comment-wrapper">
    <div class="aritcle-create-wrapper">
        <input type="hidden" id="comment-edit-id" />
        <textarea class="article-create-textarea" id="article-create-textarea"></textarea>
        <div class="comment-button-group">
            <button class="comment-submit-button" type="submit" id="comment-submit-button">Submit</button>
            <button class="comment-clear-button" id="comment-clear-button">Clear</button>
        </div>
    </div>
    <div class="article-comment-area" id="article-comment-area">
        
    </div>
</div>