<div class="article-contact-wrapper" id = "article-editor-wrapper">
    <div class="contact-box">
        <div class="contact-title-text">
            <h1>Contact Us</h1>
        </div>
        <div class = "contact-group-text">
            <input type="text" id="contact-title" placeholder="Put title of email here..."> 
            <input type="email" id="contact-email" placeholder="Put your email here..."> 
        </div>
        <div class = "contact-group-text">
            <textarea id="contant-content" placeholder="Write your email content here..."></textarea>
        </div>
        <div class="article-contact-group-button">
            <button id = "submit-email">Submit</button>
            <button id = "clear-email">Clear</button>
        </div>
    </div>
</div>