<div class="login-menu-wrapper collapse" id="login-menu">
    <div class="login-text-wrapper">
        <h1>Login</h1>
    </div>
    <div class="login-form-wrapper">
        <form class="login-form">
            <fieldset>
                <div class="login-form-group-text">
                    <label for="log-username">Username</label>
                    <input type="text" id="login-menu-username" name="log-username" placeholder="Masukan username...">
                </div>
                <div class="login-form-group-text">
                    <label for="log-password">Password</label>
                    <input type="password" id="login-menu-password" name="log-password" placeholder="Masukan password...">
                </div>
                <div class="login-form-group-button">
                    <input type="button" value="Login" id="login-menu-button">
                    <input type="button" value="Clear" id="login-menu-clear">
                </div>  
            </fieldset>
        </form>
    </div>
</div>