<div class="login-menu-wrapper">
    <div class="login-menu" id="login-menu">
        <div class="login-text-wrapper">
            <h1>Login</h1>
        </div>
        <div class="login-form-wrapper">
            <form class="login-form">
                <fieldset>
                    <div class="login-form-group-text">
                        <input type="text" id="login-menu-username" placeholder="Masukan username...">
                    </div>
                    <div class="login-form-group-text">
                        <input type="password" id="login-menu-password" placeholder="Masukan password...">
                    </div>
                    <div class="login-form-group-button">
                        <button id="login-menu-button">Login</button>
                        <button id="login-menu-clear">Clear</button>
                    </div>  
                </fieldset>
            </form>
        </div>
    </div>
</div>