<div class="login-menu-wrapper collapse" id="register-menu">
    <div class="login-text-wrapper">
        <h1>Register</h1>
    </div>
    <div class="login-form-wrapper">
        <form class="login-form">
            <fieldset>
                <div class="login-form-group-text">
                    <label for="register-username">Username</label>
                    <input type="text" id="register-menu-username" name="register-username" placeholder="Masukan username...">
                </div>
                <div class="login-form-group-text">
                    <label for="register-password">Password</label>
                    <input type="password" id="register-menu-password" name="register-password" placeholder="Masukan password...">
                </div>
                <div class="login-form-group-button">
                    <input type="button" value="Register" id="register-menu-button">
                    <input type="button" value="Clear" id="register-menu-clear">
                </div>  
            </fieldset>
        </form>
    </div>
</div>