<div class="login-menu-wrapper">
    <div class="login-menu" id="register-menu">
        <div class="login-text-wrapper">
            <h1>Register</h1>
        </div>
        <div class="login-form-wrapper">
            <form class="login-form">
                <fieldset>
                    <div class="login-form-group-text">
                        <input type="text" id="register-menu-username" placeholder="Masukan username...">
                    </div>
                    <div class="login-form-group-text">
                        <input type="password" id="register-menu-password" placeholder="Masukan password...">
                    </div>
                    <div class="login-form-group-button">
                        <button id="register-menu-button">Register</button>
                        <button id="register-menu-clear">Clear</button>
                    </div>  
                </fieldset>
            </form>
        </div>
    </div>
</div>